packages: [
  "atom-beautify"
  "atom-typescript"
  "change-case"
  "color-picker"
  "emmet"
  "file-icons"
  "highlight-selected"
  "javascript-snippets"
  "language-ethereum"
  "language-vue"
  "linter"
  "linter-csslint"
  "linter-eslint"
  "linter-sass-lint"
  "linter-scss-lint"
  "linter-write-good"
  "minimap"
  "minimap-highlight-selected"
  "package-sync"
  "pigments"
  "react"
  "react-snippets"
]
